body {
  color: black;
  font-family: Calibri, Arial, helvetica, sans-serif;
 
}

h2 {
  text-align: center;
  text-transform: Uppercase;
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
  }

h1, pre {
  text-align: center;
}

h2,h3,h4 {
  margin: 0;
}
  
 .star-rating {
  width: 1000px auto; 
  height: 2000px auto;
  background-image: url("https://th.bing.com/th/id/OIP.QUFe_mCKUzW0SXhJb-LvRAHaDT?pid=ImgDet&rs=1");
  background-size: 300px auto;
  }

img {
  height: 200px;
  width: 200px;
  float: right;
}

footer {
  font-size: 8pt;
}
